include LICENSE
include README.md
include CHANGELOG.md
recursive-include kernelboost *.c *.cu *.so *.dll
prune tests
prune benchmarks
prune docs
prune private
prune private_tests
global-exclude __pycache__ *.pyc *.pyo
prune kernelboost/_extras